body{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    color:blue;
    background-color: aqua;
}
p{
    color:red;
    font-size: 22px;
    border-radius: 2px;  
}
div{
    border-radius: 4px;
    border-color:blue;   
}